<%- include('header'); %>
<div class="main" id="index-wrap">
    <h1 class="text-center">『<%= website %>』</h1>
    <div class="list-wrap">
    	<img width="100%" src="/about.jpg" alt="">
    	<div style="display: none;">
    		<h3>自我介绍</h3>
			<p>一个在编程代码与诗意人生中穿行的95后、游戏黑洞、深夜情感治愈系主播。诗和远方就在笔端，用深情研磨，每个人都是诗人。就让我们在这片江湖重逢，邂逅这样的文字、聆听让彼此内心共振的声音！</p>
			<strong>为何会做『墨 · 言』</strong>
			<p>我从小就有一个梦想，执剑携酒走天涯，凭着自己的喜好在这片江湖上与人讨教诗词歌赋，仿佛是这个世上最令我快乐的事情。时隔多年，梦境虽破，但诗意仍在。所以为自己开辟出这一方独属于我的净土，将深情寄予在这浅浅的文字，聊以慰藉吾之内心。江湖多变，望你能不变初心。将深情与这诗意化作自己的桃林，醉酒于此~</p>
    	</div>
	</div>
</div>
<%- include('footer'); %>