
	<div class="footer text-center">
		<p><a href="javascript:;">『 <%- title %> 』</a> - <a href="javascript:;">此项目的GitHub</a></p>
		<p>基于 <a href="semantic-ui.cn">Semantic-UI</a>、 <a href="http://www.expressjs.com.cn/">Express</a>、 <a href="https://leancloud.cn">LeanCloud</a> 实现</p>
	</div>
</div>
<script src="/js/main.js"></script>
</body>
</html>