
	<div class="footer text-center">
		<p><i class="ui icon github"></i><a href="https://github.com/xqihang/shici">此项目的GitHub</a></p>
		<p>
			基于
			<a class="ui orange horizontal label" href="http://www.expressjs.com.cn/">Express</a>
			<a class="ui teal horizontal label" href="http://semantic-ui.cn">Semantic-UI</a>
			<a class="ui blue horizontal label" href="https://leancloud.cn">LeanCloud</a>
			实现
		</p>
	</div>
</div>
<script src="/dist/build.min.js"></script>
</body>
</html>