<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - <%= website %></title>
	<meta name="keywords" content="诗词、写诗、诗人、创作、笔墨" />
    <meta name="description" content="诗和远方就在笔端，用深情研墨，每个人都是诗人。" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scale=0">

	<link rel="stylesheet" href="/lib/layui/build/css/layui.css" />
	<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.2.6/semantic.min.css" />
	<link rel="stylesheet" href="/styles/common.css" />
	
	<script src="/lib/layui/build/lay/dest/layui.all.js"></script>
	<script src="/dist/build.min.js"></script>
</head>
<body>
<img src="/logo.jpg" style="display: none;" alt="">
<div id="page-wrap" class="page-wrap">
	<!-- 导航 -->
	<div class="ui menu-control">
		<a href="/" v-bind:class="[isMobile?'small':'']" class="ui teal basic button">
			<i class="home icon"></i>首页
		</a>
		<a href="/users/push" class="ui green basic button">
			<i class="write icon"></i>创作
		</a>
		<div class="ui basic dropdown">
		    <a href="/users/index" v-bind:class="[isMobile?'small':'']" class="ui orange basic button">
				<i class="child icon"></i>我的
			</a>
		    <div class="menu">
		    	<% if(!isLogin){ %>
			        <div class="item" @click="goto('/login')">
			        	<i class="sign in icon"></i>登录
			        </div>
			        <div class="item" @click="goto('/signup')">
			            <i class="sign out icon"></i>注册
			        </div>
		        <% }else{ %>
		        	<div class="item" @click="goto('/users/logout')">
			        	<i class="reply icon"></i>退出
			        </div>
			        <div class="item" @click="goto('/users/index')">
			        	<i class="leaf icon"></i>书房
			        </div>
		        <% } %>
		    </div>
		</div>

		<script>
			new Vue({
				el : '.ui.menu-control',
				data : {
					isMobile : device.mobile()
				},
				methods : {
					goto : function(url){
						window.location.href = url;
					}
				}
			})
		</script>
	</div>