<%- include('header'); %>
<div class="main">
	<h2><%= title %></h2>
    <form class="ui form login-form">
    	<div class="ui small message" v-bind:class="[!status?'yellow':'green']" v-if="message!=''">
	    	<i class="close icon" @click="closeMsg()"></i>
	        <div v-html="message"></div>
	    </div>
	    <div class="field">
            <input type="text" name="username" v-model="username" placeholder="用户名">
        </div>
        <div class="field">
            <input type="password" name="passwd" v-model="passwd" placeholder="密码">
        </div>
		<div class="field">
			<div class="ui fluid teal button" @click="submit()"><%= title %></div>
		</div>
	</form>
	<h4 class="ui horizontal header divider">
	    <i class="alarm outline icon"></i>
	    告示
	</h4>
	<div class="ui">
		<p><span class="ui red horizontal label">妥善保管您的密码</span>，也可以更有效的保护您的作品。</p>
	</div>
	<script>
		$(function(){
			var form = new Vue({
				el : '.login-form',
				data : {
					username : '',
					passwd : '',
					message: '',
					status : true
				},
				methods : {
					submit : function(){
						var _t = this;

						if( _t.username && _t.passwd ){

							$.post('/api/v1/login',{
								username : _t.username,
								passwd : _t.passwd,
							},function(res){
								if(res.code){
									_t.status = false;
									_t.message = '登录成功...\n两秒后将跳转到用户中心';
									setTimeout(function(){
										window.location.href = '/users/index?action=login'
									},2000)
									
								}else{
									_t.status = false;
									_t.message = '登录失败...\n' + res.data.error;
								}
							})
						}else{
							_t.status = false;
							_t.message = '阁下，请出示你的通关文牒~';
						}
					},
					closeMsg : function(){
						this.message = '';
					}
				}
			})
		});
	</script>
</div>
<%- include('footer'); %>