<%- include('header'); %>
	<div class="main">
		<h2><%= title %></h2>
		<p><a href="javascript:;" class="ui teal label"><%= site.name %></a>鼓励用户创造和发布的内容可用于传播和共享，对于用户发布的原创内容（包含图片、文字、音乐、视频）采用 CC 协议，即知识共享许可协议（2.0未本地化版本）加以许可保护。作者发布内容时，默认不采用知识共享许可协议，用户可以根据实际情况在发布内容时选择采用知识共享许可协议下6种主要许可协议中的任何一种。</p>
	</div>
<%- include('footer'); %>