<%- include('../header'); %>
<div class="main">
	<h2>
	    <i class="child icon"></i>
	    <%= title %>
	</h2>
	<div class="ui feed">
		<div class="event">
			<div class="content">
				<div class="summary">
					<a class="user">埃利奥特付</a> 加你为好友
					<div class="date">1小时前</div>
				</div>
				<div class="meta">
					<a class="like">
						<i class="like icon"></i> 4 喜欢
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../footer'); %>